@import "tailwindcss";

@font-face {
  font-family: 'KFGQ';
  src: url('/fonts/KFGQPC-Regular/KFGQPC Uthmanic Script HAFS Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PDMS-Islamic';
  src: url('/fonts/_PDMS_IslamicFont Regular/_PDMS_IslamicFont Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f7f6f2;
  --foreground: #111111;
  --surface: #ffffff;
  --border: #e6e4de;
  --primary-green: #428038;
  --primary-ash: #818683;
  --primary-dark-green: #111510;
  --primary-white: #c3c3c4;
  --primary-black: #0d0d0d;
  --primary-gray: #202020;
  --another: #8eb388;
  --font-inter: "__Inter_e97114", "__Inter_Fallback_e97114";
  --font-kalpurush: "__kalpurush_83740d", "__kalpurush_Fallback_83740d";
  --font-calligraphy: "__calligraphy_e58de2", "__calligraphy_Fallback_e58de2";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-green); 
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-green); 
  }
}

.dark {
  --background: #0b0b0c;
  --foreground: #f5f5f5;
  --surface: #141418;
  --border: #2a2a2f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-kalpurush), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
